name: CD Pipeline

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: course.prafdin.ru
          port: 2200
          username: kali
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/Desktop/catty-reminders-app
            git pull origin github-actions
            pkill -f uvicorn || true
            source venv/bin/activate
            pip install -r requirements.txt
            nohup uvicorn app.main:app --host 0.0.0.0 --port 8181 > app.log 2>&1 &
            echo "Deployment completed!"
